<div class="meta">
    Created by <strong><%= @wiki_post.author %></strong> on
    <strong><%= @wiki_post.created_at %></strong> and last updated 
    <strong><%= @wiki_post.updated_at %></strong>
</div>
