<h1 class="title">Wiki Page Title</h1>

<div class="container">
    <p class="description">Wiki Page Body</p>

    <div class="meta">
        <span class="author">Author</span> 
        <span class="creation">Creation Date</span> 
        <span class="update">Last Update Date</span>
    </div>
</div>

<div class="links">
    <%= link_to "Home", welcome_index_path %>
    <%= link_to "New Wiki Post", new_wiki_post_path %>
</div>
