html,
body {
  background-color: lightgrey;
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2.4em;
  }
  .container {
    background-color: gainsboro;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .description {
    padding: 1rem;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }

  .meta {
    display: flex;

    * {
      margin: 1rem;
      padding: 1rem;
      display: flex;
      align-items: center;
    }
  }
  .links {
    margin-top: 0.5rem;
    a {
      color: white;
      border-radius: 10px;
      background-color: gray;
      font-weight: bold;
      margin: 1rem;
      padding: 10px;
      text-decoration: none;
      &:hover {
        background-color: black;
      }
    }
  }
}

img {
  width: 300px;
}
